html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

.border {
  border: dotted 1px #6feff9;
}

h2 {
  border: dotted 1px #6feff9;
  filter: drop-shadow(0 0 2px #6feff9);
}

.dashboard-controls-bottom {
  border-bottom: dotted 1px #6feff9;
}

#cctv {
  margin-top: 0;
}

.block-2 {
  animation: flash-1 .2s linear infinite;
}

@keyframes flash-1 {

  0% {
    fill: #828487;
  }

  100% {
    fill: #c4c6c8;
  }

}

.block-4 {
  animation: flash-2 200ms .1s linear infinite;
}

@keyframes flash-2 {

  0% {
    fill: #828487;
  }

  100% {
    fill: #a9abae;
  }

}

.icon {
  filter: drop-shadow(0 0 7px #6feff9);
  color: #6feff9;
}

#mo-bar {
  animation: grow-1 .5s linear;
}

@keyframes grow-1 {

  0% {
    fill: #333;
  }

  100% {
    fill: #fdd31b;
  }

}

#we-bar {
  animation: grow-2 .5s linear;
}

@keyframes grow-2 {

  0% {
    fill: #333;
  }

  100% {
    fill: #ffd31d;
  }

}

#fr-bar {
  animation: grow-3 .5s linear;
}

@keyframes grow-3 {

  0% {
    fill: #333;
  }

  100% {
    fill: #f62e52;
  }

}
